*{
    padding: 0;
    margin: 0;
}
.body{
    background: url("/bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#board{
    background: linear-gradient(rgb(96, 255, 191) , rgb(211, 141, 245));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background-color: red;
}
.snake{
    background-color: purple;
}
.food{
    /*background: radial-gradient(rgb(108, 5, 5),rgb(9, 17, 108)) */
    background-color : yellow;
}