@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Joti+One&family=Kablammo&family=New+Tegomin&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    position: relative;
}

#board{
    background: linear-gradient(rgb(93, 255, 190) , rgb(255, 240, 128));
    width: 90vmin;
    height: 90vmin; 
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

#scoreBox{
    margin-bottom: 20px; 
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

.head{
    background: radial-gradient(rgb(11, 76, 27),rgb(27, 99, 38),rgb(5, 160, 28));
    border: .25vmin solid rgb(16, 98, 5);
    transform: scale(1.02);
    border-radius: 9px; 
}

.snake{
    background-color: rgb(79, 157, 15);
    border: .25vmin solid rgb(10, 101, 48);
    border-radius: 4px;
}

.food{
   background: radial-gradient(rgb(255, 238, 0),rgb(255, 0, 0));
   border: .25vmin solid rgb(146, 77, 17);
   border-radius: 50%;
}